<!DOCTYPE html>
<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="stylesheet"
		  href="{{ url_for('static',filename='styles/style1.css') }}" />
	<!--<script
		src="https://www.google.com/recaptcha/api.js"
		async
		defer
	></script>-->
</head>

<body>
	<!--<form action="?" method="POST">
		<div class="g-recaptcha"
			 data-sitekey="6LdT0HQaAAAAAH4n93NSodNKTMjAM2iqp47teBlN"></div>
		<br />
		<input type="submit" value="Submit" />
	</form>-->
	<nav id="bootbar" class="navbar navbar-expand-lg navbar-dark bg-light static-top" hidden>
		<div class="container">
			<a class="navbar-brand" href="#">
				<img src="..\static\Design_ELEMENTS\logosmall.png" style="width:100px; height:100px" alt="DogeGram!">
			</a>
			<button class="navbar-toggler" type="button" onclick="Home()" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link"  onclick="Home()" href="javascript:void(0);"style="color:dimgrey">
							Home
							<span class="sr-only" style="color:dimgrey"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" onclick="Upload()" href="javascript:void(0);" style="color:dimgrey">Upload</a>
					</li>
					<li class="nav-item">
						<a class="nav-link"  onclick="Chat()" href="javascript:void(0);" style="color:dimgrey">Chat</a>
					</li>
					<li class="nav-item">
						<a class="nav-link"  onclick="" href="javascript:void(0);" style="color:dimgrey">Hall of Fame</a>
					</li>



				</ul>
			</div>
		</div>
	</nav>
	<div id="bar" class="bar1" hidden></div>
	<div id="logosmall" class="logosmall" hidden></div>

	<p id="brand" class="brand" hidden>DogeGram</p>
	<button id ="upload" class="uploadbutton" hidden>Upload File</button>
	
	<div id="chat" class="chatbutton" hidden></div>
	<!--<div id="preview" class="imagetoupload" hidden></div>-->
	<input id="CAPTION" placeholder="Write a caption for you picture!" class="input" hidden/>

	<button type="submit" id="submitimage" class="uploadimagebutton"hidden >Submit!</button>
	<p id="madetext" class="madeforyou" hidden>Made for you</p>

	<p id="voted" class="mostvoted" hidden>Today's Most Liked</p>

	<div id="firstplace" class="firstplace" hidden></div>
	<br />


	<p id="fade" hidden>Test</p>

	<img id="test"
		 src="{{ url_for('static',filename='Design_ELEMENTS/SPLASH.png') }}"
		 alt="DogeGram"
		 style="vertical-align: middle; animation: fadeIn ease 3s"
		 class="center" />
	<br />
	<p class="font" id="click">Click Anyware to Start!</p>
	<br />
	<br />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
	<script>
		//loaded in jquery
		var splash = document.getElementById("test");

		var x = true;
		var logosmall = document.getElementById("logosmall")
		var brand = document.getElementById("brand")
		var upload = document.getElementById("upload")
		var chat = document.getElementById("chat")
		//var preview = document.getElementById("preview")
        var caption = document.getElementById("CAPTION")
        var submitimage = document.getElementById("submitimage")
		var madetext = document.getElementById("madetext")
		var emre = document.getElementById("emre")
		var bootbar = document.getElementById("bootbar")
		var voted = document.getElementById("voted")
		var firstplace = document.getElementById("firstplace")

		var bar = document.getElementById("bar")

		console.log('loaded');
		function Chat() {
            brand.hidden = true

            upload.hidden = true
            submitimage.hidden = true
            //preview.hidden = true
            caption.hidden = true
            //chat.hidden = true

            madetext.innerHTML = "Emre put chat!!"



            voted.hidden = true

            firstplace.hidden = true
        }
		function Upload() {
			brand.hidden = true
			
			upload.hidden = false
			submitimage.hidden = false
			//preview.hidden = false
			caption.hidden = false
			//chat.hidden = false

			madetext.innerHTML = "Submissions"



			voted.hidden = true

			firstplace.hidden = true

		}
		function Home() {
            brand.hidden = false

            upload.hidden = true
            submitimage.hidden = true
            //preview.hidden = false
            caption.hidden = true
            //chat.hidden = false

            madetext.innerHTML = "Made for you"



            voted.hidden = false

            firstplace.hidden = false
        }


		$('*').click(function (event) {

			function display() {
				splash.remove()
				//bar.hidden = false

				logosmall.hidden = false
				bootbar.hidden = false
				brand.hidden = true

				upload.hidden = true

				//chat.hidden = false

				madetext.hidden = false



				voted.hidden = false

				firstplace.hidden = false



			}

			if (this === event.target) {
				if (x == true) {
					x = false
					//document.querySelector("class").classList.add("fadeoutelement");
					document.getElementById("click").hidden = true
					document.getElementById("")

					splash.style.opacity = 1;

					var tick = function () {
						splash.style.opacity = +splash.style.opacity - 0.04;
						if (+splash.style.opacity < 1) {
							(window.requestAnimationFrame && requestAnimationFrame(tick)) || setTimeout(tick, 16)
						}

					};
					tick();

					setTimeout(function () { display() }, 1000);





				}


			}
		});
	</script>
</body>
</html>
