.picturebar1 {
    /* Rectangle 2 */
    position: absolute;
    width: 378px;
    height: 405px;
    left: 324px;
    top: 608px;
    background: #C4C4C4;
}

.picturebar2 {
    /* Rectangle 3 */
    position: absolute;
    width: 379px;
    height: 405px;
    left: 770px;
    top: 603px;
    background: #C4C4C4;
}

.picturebar3 {
    /* Rectangle 4 */
    position: absolute;
    width: 379px;
    height: 405px;
    left: 1204px;
    top: 603px;
    background: #C4C4C4;
}

.picturebar4 {
    /* Rectangle 5 */
    position: absolute;
    width: 378px;
    height: 405px;
    left: 324px;
    top: 1075px;
    background: #C4C4C4;
}

.picturebar5 {
    /* Rectangle 6 */
    position: absolute;
    width: 379px;
    height: 405px;
    left: 770px;
    top: 1075px;
    background: #C4C4C4;
}

.picturebar6 {
    /* Rectangle 7 */
    position: absolute;
    width: 379px;
    height: 405px;
    left: 1204px;
    top: 1075px;
    background: #C4C4C4;
}

.picturebar7 {
    /* Rectangle 8 */
    position: absolute;
    width: 378px;
    height: 405px;
    left: 324px;
    top: 1542px;
    background: #C4C4C4;
}

.picturebar8 {
    /* Rectangle 9 */
    position: absolute;
    width: 379px;
    height: 405px;
    left: 770px;
    top: 1542px;
    background: #C4C4C4;
}

.picturebar9 {
    /* Rectangle 10 */
    position: absolute;
    width: 379px;
    height: 405px;
    left: 1204px;
    top: 1542px;
    background: #C4C4C4;
}



.place2 {
    /* Rectangle 12 */
    /* Rectangle 12 */
    position: absolute;
    width: 379px;
    height: 405px;
    left: 308px;
    top: 2774px;
    background: #C4C4C4;
}

.place3 {
    /* Rectangle 14 */
    position: absolute;
    width: 378px;
    height: 405px;
    left: 1202px;
    top: 2769px;
    background: #C4C4C4;
}

.place4 {
    /* Rectangle 15 */
    position: absolute;
    width: 379px;
    height: 405px;
    left: 308px;
    top: 3241px;
    background: #C4C4C4;
}

.place5 {
    /* Rectangle 16 */
    position: absolute;
    width: 379px;
    height: 405px;
    left: 755px;
    top: 3241px;
    background: #C4C4C4;
}

.place6 {
    /* Rectangle 17 */
    position: absolute;
    width: 378px;
    height: 405px;
    left: 1202px;
    top: 3236px;
    background: #C4C4C4;
}

.place7 {
    /* Rectangle 17 */
    position: absolute;
    width: 450px;
    height: 450px;
    left: 1266px;
    top: 3597px;
    background: #C4C4C4;
}
