.fade-in {
    animation: fadeIn ease 20s;
    -webkit-animation: fadeIn ease 20s;
    -moz-animation: fadeIn ease 20s;
    -o-animation: fadeIn ease 20s;
   
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.blinktext {
    animation: blinker 1s linear infinite
}
.font {
    animation: fadeIn ease 3s;
    animation: blinker 1s linear infinite;
    font-size: 25px;
    text-align: center;
    font-family: "Segoe UI";
    margin-left: auto;
    margin-right: auto;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.fadeoutelement {
    animation: fadeout ease 3s
}
@keyframes fadeout {
    50%{
        opacity: 1;
    }
}
.logosmall {
    background: url("..\Design_ELEMENTS/logosmall.png");
    width: 30px;
    height: 30px;
}
.brand { /* DogeGram */
    position: absolute;
    width: 100%;
    height: 60px;
    left: 279px;
    top: 92px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 67px;
    text-align: right;
    color: #7221B3;
}
.uploadbutton {
    /* PngItem_1571855 1 */
    position: absolute;
    width: 130.32px;
    height: 100px;
    left: 1469px;
    top: 86px;
    background: url(..\static\Design_ELEMENTS\showmorebuttonbackground.png);
}
.chatbutton {
    /* PngItem_1489577 1 */
    position: absolute;
    width: 122px;
    height: 110px;
    left: 100px;
    
    background: url(..\Design_ELEMENTS\Chat.png);
}
.greet {
    /* Hello, Sample User! */
    position: absolute;
    width: 555px;
    height: 58px;
    left: 324px;
    top: 371px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #000000;
}
.madeforyou {
    /* Made for you */
    position: absolute;
    width: 404px;
    height: 74.5px;
    left: 10%;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 1px;
    color: #000000;
}

.bar1 {
    background: rgba(248,248,248,1);
    width: 100%;
    height: 200px;
}
.mostvoted {
    /* Today’s Most Liked */
    position: absolute;
    width: 731px;
    height: 90px;
    left: 10%;
    top: 100%;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 1px;
    color: #000000;
}
.firstplace {
    /* Rectangle 11 */
    position: absolute;
    width: 400px;
    height: 200px;
    left: 10%;
    top: 120%;
    background: #C4C4C4;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* The actual popup */

.uploadpopup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.uploadpopup .frame {
    visibility: hidden;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    background-color: #555;
}

.uploadpopup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }


/* Chat containers */
.message_container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat message_container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.message_container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.message_container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.message_container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}/* Chat containers */
.message_container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  width: 40%;
  margin-left:50%;
}

/* Darker chat message_container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.message_container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.message_container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.message_container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

#formessages{
    overflow:scroll;
    height:400px;
    width:auto;
    margin-top: 0;
}

#message_sending{
    margin-top: 50%;
}